@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-Regular.otf');
}

@font-face {
  font-family: 'Thicccboi-bold';
  src: url('/fonts/THICCCBOI-Bold.woff2');
}

@font-face {
  font-family: 'Thicccboi-medium';
  src: url('/fonts/THICCCBOI-Medium.woff2');
}

@font-face {
  font-family: 'Thicccboi-semibold';
  src: url('/fonts/THICCCBOI-SemiBold.woff2');
}


.card_background{
  border: 4px solid; 
  background: #252831;
  border: 1.705px solid #303441;
  box-shadow: 0px 3.20498px 70.50948px -12.81991px rgba(5, 13, 24, 0.20);
  border-radius: 24px;
}

.heading{
  width: 85%;
  font-family: 'Thicccboi-semibold';
  font-size: 40px;
  @media (max-width: 768px) {
      font-size: 26px;
  }
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
}

.subheading{
  width: 85%;
  line-height: 100%;
  font-family: 'Thicccboi-semibold';
  font-size: 32px;
  @media (max-width: 768px) {
      font-size: 20px;
  }
  letter-spacing: -0.03em;
  text-align: left;
  justify-content: flex-start;
}
 
@layer base {
  :root {
    --card: #efeded;
    --card-foreground: black;
 
    --popover: #efeded;
    --popover-foreground: black;
 
    --primary: #efeded;
    --primary-foreground: black;
 
    --secondary: #efeded;
    --secondary-foreground: black;
 
    --muted: #efeded;
    --muted-foreground: black;
 
    --accent: black;
    --accent-foreground: black;
 
    --destructive:#efeded;
    --destructive-foreground: black;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --card: #1E2129;
    --card-foreground: white;
 
    --popover: #1E2129;
    --popover-foreground: white;
 
    --primary: #1E2129;
    --primary-foreground: white;
 
    --secondary: #1E2129;
    --secondary-foreground: white;
 
    --muted: #1E2129;
    --muted-foreground: white;
 
    --accent: #1E2129;
    --accent-foreground: white;
 
    --destructive: #1E2129;
    --destructive-foreground: white;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

:root {
  --background: #efeded;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #1E2129;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
}
 
@layer base {
  * {
    @apply border-border;
  }
}